@import "mixins";

$spriteWidth:70px;
$spriteHeight:80px;
$fighter1:"ken";
$fighter2:"guile";

/* stage*/
.stage{
  outline: 1px solid pink; width: 450px; height: 330px; margin: 0 auto; overflow: hidden; position: relative; z-index: 0;
}


/* mirror */
.flip { @include transform(scaleX(-1)); }

/*fighters*/
/*ken*/
@include fighter($fighter1);
/*guile*/
@include fighter($fighter2);
/*stance*/
@include anim($animName:stance, $steps:4, $animNbr:2, $animParams:.5s infinite);
/* punch */
@include anim($animName:punch, $steps:3, $animNbr:3, $animParams:.15s infinite);
/* kick */
@include anim($animName:kick, $steps:5, $animNbr:7, $animParams:.5s infinite);
/* hadoken */
@include anim($animName:hadoken, $steps:4, $animNbr:1, $animParams:.5s infinite);
/* walking */
@include anim($animName:walk, $steps:5, $animNbr:4, $animParams:.5s infinite);