/* stage*/
.stage {
  outline: 1px solid pink;
  width: 450px;
  height: 330px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  z-index: 0; }

/* mirror */
.flip {
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  transform: scaleX(-1); }

/*fighters*/
/*ken*/
.ken {
  width: 70px;
  height: 80px;
  background-image: url(ken.png); }

/*guile*/
.guile {
  width: 70px;
  height: 80px;
  background-image: url(guile.png); }

/*stance*/
.stance {
  -webkit-animation: stance steps(4) 0.5s infinite;
  -moz-animation: stance steps(4) 0.5s infinite;
  -ms-animation: stance steps(4) 0.5s infinite;
  animation: stance steps(4) 0.5s infinite; }

@-webkit-keyframes stance {
  from {
    background-position: 0px -80px; }
  to {
    background-position: -280px -80px; } }
@-moz-keyframes stance {
  from {
    background-position: 0px -80px; }
  to {
    background-position: -280px -80px; } }
@-ms-keyframes stance {
  from {
    background-position: 0px -80px; }
  to {
    background-position: -280px -80px; } }
@keyframes stance {
  from {
    background-position: 0px -80px; }
  to {
    background-position: -280px -80px; } }
/* punch */
.punch {
  -webkit-animation: punch steps(3) 0.15s infinite;
  -moz-animation: punch steps(3) 0.15s infinite;
  -ms-animation: punch steps(3) 0.15s infinite;
  animation: punch steps(3) 0.15s infinite; }

@-webkit-keyframes punch {
  from {
    background-position: 0px -160px; }
  to {
    background-position: -210px -160px; } }
@-moz-keyframes punch {
  from {
    background-position: 0px -160px; }
  to {
    background-position: -210px -160px; } }
@-ms-keyframes punch {
  from {
    background-position: 0px -160px; }
  to {
    background-position: -210px -160px; } }
@keyframes punch {
  from {
    background-position: 0px -160px; }
  to {
    background-position: -210px -160px; } }
/* kick */
.kick {
  -webkit-animation: kick steps(5) 0.5s infinite;
  -moz-animation: kick steps(5) 0.5s infinite;
  -ms-animation: kick steps(5) 0.5s infinite;
  animation: kick steps(5) 0.5s infinite; }

@-webkit-keyframes kick {
  from {
    background-position: 0px -480px; }
  to {
    background-position: -350px -480px; } }
@-moz-keyframes kick {
  from {
    background-position: 0px -480px; }
  to {
    background-position: -350px -480px; } }
@-ms-keyframes kick {
  from {
    background-position: 0px -480px; }
  to {
    background-position: -350px -480px; } }
@keyframes kick {
  from {
    background-position: 0px -480px; }
  to {
    background-position: -350px -480px; } }
/* hadoken */
.hadoken {
  -webkit-animation: hadoken steps(4) 0.5s infinite;
  -moz-animation: hadoken steps(4) 0.5s infinite;
  -ms-animation: hadoken steps(4) 0.5s infinite;
  animation: hadoken steps(4) 0.5s infinite; }

@-webkit-keyframes hadoken {
  from {
    background-position: 0px 0px; }
  to {
    background-position: -280px 0px; } }
@-moz-keyframes hadoken {
  from {
    background-position: 0px 0px; }
  to {
    background-position: -280px 0px; } }
@-ms-keyframes hadoken {
  from {
    background-position: 0px 0px; }
  to {
    background-position: -280px 0px; } }
@keyframes hadoken {
  from {
    background-position: 0px 0px; }
  to {
    background-position: -280px 0px; } }
/* walking */
.walk {
  -webkit-animation: walk steps(5) 0.5s infinite;
  -moz-animation: walk steps(5) 0.5s infinite;
  -ms-animation: walk steps(5) 0.5s infinite;
  animation: walk steps(5) 0.5s infinite; }

@-webkit-keyframes walk {
  from {
    background-position: 0px -240px; }
  to {
    background-position: -350px -240px; } }
@-moz-keyframes walk {
  from {
    background-position: 0px -240px; }
  to {
    background-position: -350px -240px; } }
@-ms-keyframes walk {
  from {
    background-position: 0px -240px; }
  to {
    background-position: -350px -240px; } }
@keyframes walk {
  from {
    background-position: 0px -240px; }
  to {
    background-position: -350px -240px; } }

/*# sourceMappingURL=index.css.map */
